/* Stylesheet by Christopher Pierson, 2020 */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}


.state {
    stroke:#3498DB  ;
    stroke-width: 5px;
}

.sectors {
    fill: #FFF;
    stroke: #000;
    stroke-width: .4px;
}
